* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(23, 23, 83);
}

section h1 span {
  transition: 0.5s;
}
section h1 span:hover {
  font-size: 72px;
}

header {
  background-color: rgb(2, 0, 65);
  top: 0px;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
}
header a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 1s;
}
header a:hover {
  color: yellow;
}
header .logo {
  display: flex;
}
header .logo img {
  height: 70px;
  width: 70px;
}
header nav {
  font-size: larger;
  transition: 0.5s;
}

h1, h2 {
  text-align: center;
  color: white;
}

#mainGridContainer {
  width: 100%;
}

.principal {
  background-image: url(../../images/rm251-mind-11-g.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-top: 90px;
  text-align: center;
}
.principal img {
  min-width: 150px;
  min-height: 150px;
  max-width: 300px;
  max-height: 300px;
  margin-top: 15px;
  border-radius: 50%;
  border: 2px solid black;
  transition: 0.5s;
}
.principal img:hover {
  border: 2px solid white;
  box-shadow: 0px 0px 10px 7px white;
}
.principal span {
  transition: 0.5s;
}
.principal span:hover {
  font-size: larger;
}

.imagenes {
  margin-top: 20giapx;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.imagenes img {
  width: 170px;
  height: 250px;
}

#flexConteinerGithub {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-evenly;
}

#githubinfo {
  text-align: center;
  width: 100%;
}
#githubinfo .githubimg {
  margin-top: 5px;
  min-width: 65px;
  min-height: 100px;
  max-width: 230px;
  max-height: 260px;
  filter: blur(3px);
}
#githubinfo .workinprogress {
  margin-top: 5px;
  min-width: 65px;
  min-height: 100px;
  max-width: 230px;
  max-height: 290px;
  margin-bottom: 5px;
}
#githubinfo .githubLink {
  font-size: 35px;
}
#githubinfo span {
  color: white;
  font-size: large;
}

.info-section {
  width: 100%;
  height: 500px;
}
.info-section .info-space {
  width: 70vh;
  height: 50vh;
  text-align: justify;
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.info-section .info-space .info-content span, .info-section .info-space .info-content h1 {
  color: white;
}
.info-section .info-space .info-content span {
  font-weight: 600;
}
.info-section .info-space .me {
  margin-left: 25px;
  width: 350px;
  border: 4px solid aqua;
}
.info-section .info-space .download-CV {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 5px;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #1c1c1c;
  bottom: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer a {
  margin-right: 15px;
}

@media (min-width: 425px) and (max-width: 680px) {
  .principal {
    width: 100%;
    height: 300px;
  }
  .principal h1, .principal span {
    font-size: 15px;
  }
  .principal h2 {
    font-size: 14px;
  }
  .principal img {
    width: 200px;
    height: 200px;
    margin-top: 15px;
    border-radius: 50%;
    border: 3px solid black;
    transition: 0.5s;
  }
  .principal img:hover {
    border: 3px solid white;
    box-shadow: 0px 0px 10px 7px white;
  }
  .info-section {
    height: 600px;
  }
  .info-section .info-space {
    width: 45vh;
    height: 55vh;
  }
  .info-section .info-space h1, .info-section .info-space span {
    font-size: 15px;
  }
  .info-section .info-space .me {
    margin-left: 25px;
    width: 215px;
    border: 4px solid aqua;
  }
  #githubinfo .githubimg {
    width: 60px;
    height: 90px;
  }
  #githubinfo .workinprogress {
    width: 60px;
    height: 90px;
  }
  .info-section .me {
    margin-left: 10px;
    width: 250px;
  }
  .imagenes img {
    width: 160px;
    height: 240px;
  }
}
@media (min-width: 205px) and (max-width: 424px) {
  .principal {
    width: 100%;
    height: 300px;
  }
  .principal h1, .principal span {
    font-size: 15px;
  }
  .principal h2 {
    font-size: 14px;
  }
  .principal img {
    width: 120px;
    height: 200px;
    margin-top: 15px;
    border-radius: 50%;
    border: 3px solid black;
    transition: 0.5s;
  }
  .principal img:hover {
    border: 3px solid white;
    box-shadow: 0px 0px 10px 7px white;
  }
  .info-section {
    height: 450px;
  }
  .info-section .info-space {
    width: 45vh;
    height: 55vh;
  }
  .info-section .info-space h1, .info-section .info-space span {
    font-size: 8px;
  }
  .info-section .info-space .me {
    margin-left: 5px;
    width: 160px;
    border: 4px solid aqua;
  }
  .imagenes img {
    width: 100px;
    height: 150px;
  }
  #githubinfo .githubimg {
    width: 65px;
    height: 100px;
  }
  #githubinfo .workinprogress {
    width: 65px;
    height: 100px;
  }
}
@media (max-height: 730px) and (min-width: 690px) {
  .info-section .info-space {
    width: 80vh;
    height: 55vh;
  }
  .info-section .info-space h1, .info-section .info-space span {
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
